<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jade.three">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ar3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ar3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ThreadTestActivity">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="threadtest"
                    android:scheme="3d" />

        </intent-filter>
    </activity>
</application>

    </manifest>